/*header*/
#home {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
}
.header-logo {
    max-width: 50px;
}
/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.toggle-box
{
   display: none; 
}
/*header-title*/
.header-title {
    font-size: 21px;
    text-transform: uppercase;
    color: var(--primary-clr);
    border-radius: 50px;
    background-color: var(--link-clr);
    padding: 10px 8px;
    /* font-weight: lighter; */
}
/*header-title*/
/*navbar-menu*/
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.menu-link {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #25262a;
    font-family: 'Poppins-Medium';
    transition: all 0.3s linear;
}

.menu-link:hover {
   color: var(--hover-clr);
    transform: scale(1.2);
}

.ad-btn {
    color: var(--primary-clr);
    position: relative;
}
.ad-btn:after {
    content: "\f019";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 13px;
    top: 16%;
    right: -19%;
}
.ad-btn:hover
{
   color: var(--primary-clr);    
}

.menu-box
{
    display: none;
}
.sub-menu {
     padding: 10px 0px;
    position: absolute;
    background:  var(--primary-clr);
    width: 12em;
    border-top: 2px solid var(--link-clr);
    margin-top: 20px;
}
.show-dropdown:hover .menu-box
{
    display: block;
}
.sub-menu-list {
    padding: 10px 20px;
}
.sub-menu-list:hover {
    background: #eeefef;
}
.sub-menu-link {
    font-size: 16px;
    text-transform: capitalize;
}


/*navbar-menu*/
/*navbar*/
/*header*/


/*media query 768*/
@media(max-width:768px)
{

/*navbar*/
.navbar {
    position: relative;
}
 .toggle-box
{
   display: block; 
}
.toggle-btn {
    font-size: 18px;
}   
.navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 1%;
    top: 80%;
    background: var(--primary-clr);
    padding: 5px 20px 20px;
    width: 11em;
    gap: 15px;
    Z-INDEX: 999;
    border-radius: 4px;
}

.menu-list {
    margin-top: 12px;
    padding: 0;
}
.menu-link {
    font-size: 14px;
}

.ad-btn-box {
    padding: 10px 16px 10px 25px;
    width: 100%;
    max-width: max-content;
}
.dropdown-icn:after {
    font-size: 13px;
    top: 8%;
    left: 37%;
    right: 0;
}
.sub-menu {
    left: -140%;
    top: 0;
    z-index: 99;
    position: absolute;
    background:  var(--primary-clr);
    width: 10em;
    padding: 5px 0 10px;
    border: 2px solid var(--link-clr);
    border-radius: 4px;
    margin-top: 5px;
}
.sub-menu-list {
    padding: 10px 12px;
}

.sub-menu-link {
    font-size: 14px;
}

/*navbar*/
}

@media(max-width:500px)
{
 .header-logo {
    max-width: 40px;
}   
.navbar {
    padding: 15px 0;
}
.header-title {
    font-size: 18px;
    padding: 9px 8px;
}
}