@import url("../icons/all.min.css");
@import url("../icons/fontawesome.min.css");
@import url("layout.css");
@import url("header.css");
@import url("footer.css");
/*======================= hero-section ===========================*/

/*title-box*/

/*main-title*/
.main-title {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sub-title {
    font-size: 22px;
    margin-bottom: 15px 
}
/*main-title*/

/*title-box*/

/*para-style*/

.para-style p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}
/*para-style*/

.cv-btn {
    padding: 12px 40px 12px 15px;
    background-color: var(--link-clr);
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: fit-content;
    display: block;
    color: var(--primary-clr);
    text-transform: capitalize;
    margin-top: 25px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.cv-btn:after {
    content: "\f019";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 13px;
    top: 33%;
    right: 10%;
}
.cv-btn:hover, .btn-login:hover {
    background: var(--hover-clr);
    transform: scale(1.07);
}
.hero-img-box img {
    width: 100%;
    max-width: 370px;
}

/*======================= hero-section ===========================*/

/*======================= about-section ===========================*/

/*about-img-box*/

.about-img-box img {
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
}

/*about-img-box*/
/*details*/
.details {
    margin-bottom: 20px;
    background: var(--light-green-bg);
    padding: 28px 25px 25px;
    border-radius: 10px;
    transition: 0.4s ease;
    border-bottom: 2px solid #20b15a00;
    cursor: pointer;
}
.details:hover {
    border-bottom: 2px solid var(--link-clr);
}
/*info-list*/
.info-list {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
}

li.info-list:last-child {
    margin-bottom: 0;
}
.sm-col-4
{
   flex: 33.3%; 
}
.sm-col-8
{
    flex: 66.66%;
}
/*info-list*/
/*details*/
/*======================= about-section ===========================*/

/*======================= skills-section ===========================*/

/*skills-container*/

/*tech-container*/
.skills-container .grid-row {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.tech-container {
    background: var(--primary-clr);
    padding: 20px 10px;
    border-radius: 10px;
    margin: 0px 10px;
    width: 100%;
    max-width: 155px;
    transition:  all 0.3s ease;
    border:1px solid transparent;
     box-shadow: 0px 0px 0px 1px var(--hover-clr);
      cursor: pointer;
}

.tech-container:hover {
    transform: translate(0, -5px);
}
.tech-img {
    width: 100%;
    max-width: 55px;
}
.tech-btsp
{
    width: 100%;
    max-width: 50px;
}
.tech-jquery
{
    width: 100%;
    max-width: 52px;
}
.tech-title {
    font-size: 17px;
    padding-top: 8px;
    text-transform: uppercase;
}

/*tech-container*/

/*skills-container*/

/*======================= skills-section ===========================*/

/*======================= experience-section ===========================*/

/*brd-style*/

.brd-style {
    border-radius: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: overlay;
}
/*brd-style*/
/*work-info*/
/*title-bg-style*/
.title-bg-style {
    background: var(--link-clr);
    color:  var(--primary-clr);
    padding: 20px 30px;
    border-bottom-right-radius: 20px;
}
/*title-bg-style*/
/*role*/
.role {
    font-size: 32px;
    text-transform: capitalize;
    color: red;
    color: var(--link-clr);
    margin-bottom: 15px;
}
/*role*/
/*web-design-logo*/
.web-design-logo img {
    width: 100%;
    max-width: 400px;
}
/*web-design-logo*/
/*work-info*/

/*======================= experience-section ===========================*/

/*======================= education-section ===========================*/

/*education-container*/

/*study-container*/
.study-container {
    background: var(--primary-clr);
    padding: 38px 25px 20px;
    border-radius: 20px;
    margin: 0 12px;
    transition: 0.3s ease;
}
.study-container:hover {
    background: var(--link-clr);
    color: var(--primary-clr);
    /* margin-bottom: -20px; */
    transform: translate(0px, -5px);
}
.study-container:hover .role
{
    color: var(--primary-clr);
}
/*study-container*/

/*education-container*/

/*======================= education-section ===========================*/

/*======================= projects-section ===========================*/

/*projects-container*/

.projects-container {
    padding: 45px 45px 70px;
}

.cardsStyle {
    background: white;
    padding: 20px 18px;
    box-shadow: 0px 0px 9px 1px #f3f2f2;
    border-radius: 10px;
}

/*portfolio-box*/

.portfolio-box {
    position: relative;
    overflow: hidden;
     border-radius: 10px;
    /* width: 100%;
    max-width: 400px;*/
}
.portfolio-box:hover .pro-img {
transform: scale(1.1);
}
/*pro-img*/
.pro-img {
    width: 100%;
    max-width: inherit;
    height: 300px;
    transition: all 0.3s linear;
    border-radius: 10px;
}
/*pro-img*/
/*portfolio-info*/
/*.portfolio-info {
    background-color: rgb(47 47 47 / 30%);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}*/
/*caption*/
/*.caption {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}*/
.project-name {
    color: var(--link-clr);
    font-size: 22px;
    margin-top: 10px;
}
.project-link {
    font-size: 14px;
    background: var(--link-clr);
    color: var(--primary-clr);
    padding: 6px 18px;
    border-radius: 20px;
}
/*caption*/

.portfolio-box:hover .portfolio-info {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
    transition-property: all;
}
/*portfolio-info*/
/*portfolio-box*/

/*projects-container*/

/*======================= projects-section ===========================*/

/*======================= contact-section ===========================*/
.login-card-container2 {
    padding: 50px 45px 60px;
    background: var(--primary-clr);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
}
.inline-inputs {
    display: flex;
    gap: 25px;
}
.form-label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 12px;
}
.mb-0 p
{
    margin-bottom: 0;
}
.form-control {
    color: #4950579e;
    padding: 10px 12px;
    width: 100%;
    font-size: 17px;
    line-height: 1.2;
    border: 1px solid rgba(10, 77, 60, 0.2);
    margin-top: 0px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: var(--primary-clr);
    border-radius: 10px;
}
.form-control:focus {
    border-color: var(--light-green-bg);
    outline: 0;
}
.btn-login {
    color: var(--primary-clr);
    border-color: transparent;
    text-transform: capitalize;
    font-size: 16px;
    padding: 12px 22px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    width: 100%;
    max-width: fit-content;
    margin-top: 25px;
    background-color: var(--link-clr);
        border-radius: 10px;
}


.error-message-box {
    display: none;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #f1113e1c;
    padding: 18px 10px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s linear;
}

.error-message {
    color: #f1113e;
    font-size: 17px;
}
.close-btn {
    position: absolute;
    right: 1%;
    top: 4%;
    font-size: 16px;
    color: #f1113e;
    padding: 3px 6px;
    text-transform: lowercase;
}
/*login form*/
/*contact-box*/

.contact-label {
    font-size: 24px;
    margin-bottom: 10px;
}
.bold-heading {
    font-size: 20px;
}

.contact-box .details:hover {
    margin-top: -5px;
    border-bottom: 2px solid var(--link-clr);
}

.contact-dis-box .page-link {
    font-size: 18px;
    color: var(--link-clr);
}

/*contact-box*/

/*======================= contact-section ===========================*/

/*media query 768*/
@media(max-width:768px)
{

/*!* hero section */
.sub-title {
    font-size: 20px;
}
.main-title {
    font-size: 40px;
}
.para-style p {
    font-size: 17px;
}

/*!* hero section */

/*!* skill section */
.skills-container .grid-row {
    gap: 10px;
}

.study-container {
    padding: 38px 25px 20px;
    margin: 20px 0px;
}
.study-container:last-child {
    margin-bottom: 0;
}

/*!* skill section */

/*!* projects section */

.pro-img {
    height: auto;
}

/*!* projects section */


}

@media(max-width:500px)
{
.lg-mt {
    margin-top: 4rem;
}

.main-title {
    font-size: 30px;
}
.sub-title {
    font-size: 18px;
}
.hero-img-box img 
{
display: none;
}
br {
    display: none;
}
.cv-btn
{
    padding: 10px 40px 10px 15px;
    font-size: 15px;
}
.plr-tb-30 {
    padding: 25px 20px;
}
.title-bg-style {
    padding: 20px 25px;
    border-bottom-right-radius: 0px;
}
.web-design-logo img {
    max-width: 250px;
    margin-bottom: 30px;
}
.ptb-90 {
    padding: 55px  0;
}

.skills-container .grid-row
{
    flex-direction: row;
}
.grid-col-2.dis-none {
    display: none;
}
.skills-container .grid-col-2 {
    flex: 40%;
}
.projects-container {
    padding: 45px 20px 35px;
}
.tech-container
{
    margin: auto;
    max-width: 140px;
}
.mt-45 {
    margin-top: 40px;
}
.sm-mt
{
    margin-top: 0;
}
.education-container .ptb-30 {
    padding: 10px 0;
}


.project-name {
    font-size: 19px;
}
.role {
    font-size: 28px;
}
.contact-label {
    font-size: 20px;
}
.details
{
  padding: 20px 20px;  
}
.login-card-container2 {
    padding: 45px 20px 52px;

}
.btn-login
{
    font-size: 15px;
    padding: 10px 18px;
}

}



@media(max-width:320px)
{
.main-title {
    font-size: 26px;
}
.para-style p {
    font-size: 16px;
}
.sub-title {
    font-size: 17px;
}
.web-design-logo img {
    max-width: 220px;
}
.tech-title {
    font-size: 15px;
}
.tech-container {
    max-width: 120px;
}
.role {
    font-size: 25px;
}
}

